@import url('http://fonts.googleapis.com/css?family=Tangerine|Prosto+One');

#Nav {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 650px;
}

#navlink:link {text-decoration: none; color: #FF00FF; background-color: #990033;}
#navlink:visited {color: #FF00FF;}
#navlink:hover {background-color: #9900CC;}
#navlink:active {background-color: #9900CC;}

#navlink {
	display: inline-block;
	width: 120px;
	height: 30px;
	float: left;
	font-size: 20pt;
	margin: 5px;
	text-align: center;
}

body {
	background-color: white;
	background-size: 100%;
	background-repeat: repeat-y;
}

h1 {
	color: #FF00FF;
	font-size: 60pt;
	font-weight: 1000;
	text-align: center;
	position: relative;
    font-family: 'Tangerine', serif;
}

h2 {
	color: black;
	font-size: 40pt;
	font-weight: 1000;
	text-align: center;
	position: relative;
    font-family: 'Tangerine', serif;
}

li {
	display: inline;
	list-style: none;
}

article {
	display: inline-block;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px dotted #FF00FF; 
}

#post {
	float: right;
	width: 50%;
	margin-right: 0;
	margin-left: 0;
}

p {
	color: black;
	font-family: 'Prosto One', serif;
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
}

